<mat-toolbar color="primary" fxLayout="row " fxLayoutAlign="center center">
  <h2>Cálculo componentes del SFV</h2>
</mat-toolbar>
{{sfvForm.valid}}
<form [formGroup]="sfvForm" fxLayout="column" class="main-content">
  <div fxLayout="row wrap">
    <div fxLayout="column" fxFlex.lg="49%"  fxFlex.lt-lg="100%" fxLayoutGap="20px">
      <h2>Ingresar los datos del SFV</h2>
      <h3>Datos generales</h3>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Potencia de planta FV</span>
        <mat-form-field class="field-fv-potency">
          <input type="number" min="0" formControlName="power_of_plant_fv" matInput placeholder="Ingrese la potencia de planta FV">
          <mat-error *ngIf="!sfvForm.get('power_of_plant_fv').valid">
            Por favor ingrese una potencia de planta valida
          </mat-error>
        </mat-form-field>
        <span>kW</span>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Calcular Potencia de planta</span>

        <mat-slide-toggle formControlName="calculate_plant_potential"> </mat-slide-toggle>
      </div>
      <ng-container *ngIf="sfvForm.get('calculate_plant_potential').value">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <span>
            Cantidad total de paneles FV
          </span>
          <mat-form-field class="field-fv-potency">
            <input type="number" min="0" [requiredIf]="sfvForm.get('calculate_plant_potential').valueChanges" formControlName="total_panels_fv"
              matInput placeholder="Ingrese la cantidad de paneles">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <span>
            Potencia de panel FV
          </span>
          <mat-form-field class="field-fv-potency">
            <input type="number" min="0" [requiredIf]="sfvForm.get('calculate_plant_potential').valueChanges" formControlName="power_of_panel_fv"
              matInput placeholder="Ingrese la potencia del panel">
          </mat-form-field>
          <span>W</span>

        </div>
      </ng-container>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Temperatura ambiente
        </span>
        <mat-form-field class="short-number">
          <input type="number" min="0" formControlName="ambient_temperature" matInput>
        </mat-form-field>
        <span>°C</span>

      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Temperatura ambiente más baja esperada
        </span>
        <mat-form-field class="short-number">
          <input type="number" min="0" formControlName="lowest_ambient_temperature_expected" matInput>
        </mat-form-field>
        <span>°C</span>

      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="column" fxFlex.lg="49%"  fxFlex.lt-lg="100%">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Seleccione el tipo de inversores</span>
        <mat-radio-group formControlName="investor_type" [ngClass]="{'error': !sfvForm.get('investor_type').valid && sfvForm.get('investor_type').touched } "
          fxLayout="column">
          <mat-radio-button value="Microinversores">Microinversores</mat-radio-button>
          <mat-radio-button #macro_inversors_radio value="Inversores de cadena">Inversores de cadena</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Tipo de servicio
        </span>
        <mat-form-field *ngIf="servicios">
          <mat-select formControlName="service_type" #service_type [placeholder]="!service_type.value? 'Seleccione un tipo': ''">
            <mat-option *ngFor="let servicio of servicios" [value]="servicio">
              {{servicio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Tension de servicio (V)
        </span>
        <mat-form-field *ngIf="tensiones">
          <mat-select formControlName="service_voltage" #service_type [placeholder]="!service_type.value? 'Seleccione la tensión': ''">
            <mat-option *ngFor="let tension of tensiones" [value]="tension">
              {{tension}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Indique el lugar de la instalacion</span>
        <mat-radio-group [ngClass]="{'error': !sfvForm.get('instalation_place').valid && sfvForm.get('instalation_place').touched } "
          formControlName="instalation_place" fxLayout="column">
          <mat-radio-button value="Suelo">Suelo</mat-radio-button>
          <mat-radio-button value="Techo/Cubierta">Techo/Cubierta</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="column"  *ngIf="sfvForm.get('instalation_place').value === 'Techo/Cubierta'" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-radio-group [ngClass]="{'error': !sfvForm.get('instalation_place').valid && sfvForm.get('instalation_place').touched } "
          formControlName="instalation_place_ceiling_option" fxLayout="column">
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button>Caso A </mat-radio-button>
            <p>Construcción sin sistema de protección contra rayos (LPS) externo</p>
            <mat-icon>info</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button>Caso B</mat-radio-button>
            <p>Construcción con LPS externo separado del montaje FV (s suficiente)</p>
            <mat-icon>info</mat-icon>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button>Caso C</mat-radio-button>
            <p>Construcción con LPS externo conectado al montaje FV (s insuficiente)</p>
            <mat-icon>info</mat-icon>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <button fxFlexAlign="center start" fxFlex="20%" (click)="saveSfv()" type="submit" mat-button> Configurar campos FV</button>

</form>