<mat-toolbar color="primary" fxLayout="row " fxLayoutAlign="center center">
  <h2>Datos generales del SFV</h2>
</mat-toolbar>
<div [formGroup]="sfvForm" fxLayout="column" class="main-content" [@routerTransition]>
  <div fxLayout="row wrap">

    <div fxLayout="column" fxFlex.gt-sm="49%"  fxLayoutGap.gt-md="20px">
      <div  fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Nombre de el proyecto</span>
        <mat-form-field class="field-fv-potency">
          <input min="0" formControlName="nombre_proyecto" matInput placeholder="Ingrese el nombre de el proyecto">
        </mat-form-field>
      </div>
      <div  fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Potencia de planta FV</span>
        <mat-form-field class="field-fv-potency">
          <input type="number" min="0" formControlName="potencia_de_planta_fv" matInput placeholder="Ingrese la potencia de planta FV">

        </mat-form-field>
        <span>kW</span>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Calcular Potencia de planta</span>

        <mat-slide-toggle formControlName="calcular_potencial_de_planta"> </mat-slide-toggle>
      </div>
      <div  [hidden]="!sfvForm.get('calcular_potencial_de_planta').value">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <span>
            Cantidad total de paneles FV
          </span>
          <mat-form-field class="field-fv-potency">
            <input type="number" min="0" [required]="sfvForm.get('calcular_potencial_de_planta').value" formControlName="total_paneles_fv"
              matInput placeholder="Ingrese la cantidad de paneles">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <span>
            Potencia de panel FV
          </span>
          <mat-form-field class="field-fv-potency">
            <input type="number" min="0" [required]="sfvForm.get('calcular_potencial_de_planta').value" formControlName="potencial_de_panel_fv"
              matInput placeholder="Ingrese la potencia del panel">
          </mat-form-field>
          <span>W</span>

        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Temperatura ambiente
        </span>
        <mat-form-field class="short-number">
          <input type="number" min="0" formControlName="temperatura_ambiente" matInput>
        </mat-form-field>
        <span>°C</span>

      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Temperatura ambiente más baja esperada
        </span>
        <mat-form-field class="short-number">
          <input type="number" min="0" formControlName="minima_temperatura_ambiente_esperada" matInput>
        </mat-form-field>
        <span>°C</span>

      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="column" fxFlex.lg="49%" fxFlex.lt-md="100%">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Seleccione el tipo de inversores</span>
        <mat-radio-group formControlName="tipo_de_inversor" [ngClass]="{'error': !sfvForm.get('tipo_de_inversor').valid && sfvForm.get('tipo_de_inversor').touched } "
          fxLayout="column">
          <mat-radio-button value="Microinversores">Microinversores</mat-radio-button>
          <mat-radio-button #macro_inversors_radio value="Inversores de cadena">Inversores de cadena</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Tipo de servicio
        </span>
        <mat-form-field *ngIf="tipos_de_servicio">
          <mat-select formControlName="tipo_servicio" #tipo_servicio [placeholder]="!tipo_servicio.value? 'Seleccione un tipo': ''">
            <mat-option *ngFor="let tipo_servicio of tipos_de_servicio" [value]="tipo_servicio">
              {{tipo_servicio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>
          Tension de servicio (V)
        </span>
        <mat-form-field *ngIf="tensiones">
          <mat-select formControlName="voltage_servicio" #tipo_servicio [placeholder]="!tipo_servicio.value? 'Seleccione la tensión': ''">
            <mat-option *ngFor="let tension of tensiones "  [value]="tension">
              {{tension}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span>Indique el lugar de la instalacion</span>
        <div class="div-radio-group" [ngClass]="{'error': !sfvForm.get('lugar_instalacion').valid && sfvForm.get('lugar_instalacion').touched } ">
          <mat-radio-group formControlName="lugar_instalacion" fxLayout="column">
            <mat-radio-button value="Suelo">Suelo</mat-radio-button>
            <mat-radio-button value="Techo/Cubierta">Techo/Cubierta</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div fxLayout="column" [hidden]="!(sfvForm.get('lugar_instalacion').value === 'Techo/Cubierta')" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div class="div-radio-group" [ngClass]="{'error': !sfvForm.get('lugar_instalacion__opcion_techo_cubierta').valid && sfvForm.get('lugar_instalacion__opcion_techo_cubierta').touched } ">
          <mat-radio-group [required]="sfvForm.get('lugar_instalacion').value === 'Techo/Cubierta'" formControlName="lugar_instalacion__opcion_techo_cubierta"
            fxLayout="column">
            <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutGap="10px">
              <mat-radio-button value="Caso A">Caso A </mat-radio-button>
              <p>Construcción sin sistema de protección contra rayos (LPS) externo</p>
              <span class="spacer"></span>
              <button (click)="openCaseAHelper()" mat-icon-button>
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutGap="10px">
              <mat-radio-button value="Caso B">Caso B</mat-radio-button>
              <p>Construcción con LPS externo separado del montaje FV (s suficiente)</p>
              <span class="spacer"></span>
              <button (click)="openCaseBHelper()" mat-icon-button>
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutGap="10px">
              <mat-radio-button value="Caso C">Caso C</mat-radio-button>
              <p>Construcción con LPS externo conectado al montaje FV (s insuficiente)</p>
              <span class="spacer"></span>
              <button (click)="openCaseCHelper()" mat-icon-button>
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <button class="boton-configurar-campos-fv" fxFlexAlign="center start" fxFlex="20%" (click)="saveSfv()" type="submit" mat-button>
  Configurar campos FV</button>

</div>
<!-- Helpers images-->
<ngx-gallery #helpImagesGallery [options]="galleryImageOptions" [images]="helpImages">
</ngx-gallery>
<!-- End of helpers images component-->