<div class="">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
        <button routerLink="/" class="left-button" mat-button> Volver </button>
        <span>Configuracion MPPTs </span>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20%">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <span>Combinar MPPTs</span>

            <mat-slide-toggle #combine_mppts> </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <span> Número de MTTPs</span>
            <mat-button-toggle-group #mttps_number="matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column">
                <span>Potencia FV total:</span>
                <span>Cargabilidad inversor:</span>
            </div>
            <div fxLayout="column">
                <span>0W</span>
                <span>0%</span>
            </div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">

            <app-mppt-configuration  *ngFor="let r of getArray(mttps_number.value); let i = index" [number]="i"></app-mppt-configuration>
    </div>

</div>