/deep/ .mat-tooltip {
    font-size: 14px;
  }
  .left-button {
    margin-right: auto;
} 

.yellow-icon {
  color: #FAD000;
}
/deep/ .mat-simple-snackbar-action .mat-button{
  color: #26b99a!important;
}