<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
    <button (click)="saveData()" class="left-button" mat-button> Volver </button>
    <span>Detalles cableado MPPT X </span>
  </mat-toolbar>

  <mat-tab-group>
      <mat-tab label="Circuito de fuente FV "> 
        <app-input-source-circuit #inputSource></app-input-source-circuit>
      </mat-tab>
      <mat-tab label=" Circuito de salida FV">
        <app-input-source-circuit #outputSource></app-input-source-circuit>
      </mat-tab>
    </mat-tab-group>