<div class="mppt">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
    <span>MPPT {{mttp.name}}</span>
  </mat-toolbar>
  <div [formGroup]="mttpForm" class="mppt-configuration" fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutGap="10%">
      <div fxLayout="column" fxLayoutAlign="center left">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
          <span>No. de paneles en serie por cadena</span>
          <span class="spacer"></span>
          <mat-form-field>
            <input type="number" min="0" formControlName="number_of_panels_in_series_per_chain" matInput>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
          <span>No. de cadenas en paralelo</span>
          <span class="spacer"></span>
          <mat-form-field>
            <input  type="number" min="0" formControlName="number_of_chains_in_parallel" matInput>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
          <span>Total panels </span>
          <span class="spacer"></span>
          <span>{{mttpSpecifications.total_de_paneles}} </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Nominal data-->
  <app-nominal-array-data [mttpSpecifications]="mttpSpecifications"></app-nominal-array-data>
  <!-- End of Nominal data-->
  <div fxLayout="row" fxLayoutAlign="center center">
  <button [routerLink]="['/mppt-config/cabling', mttp.id]" mat-button>Configurar cableado</button>
</div>
</div>