
<div [@routerTransition]>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
        <button (click)="return()"  class="left-button"  mat-button> Volver </button>
        <span>Configuración de campos FV</span>
      </mat-toolbar> 
<div fxLayout="column">

<div  *ngIf="fvFields.length === 0" >
  <h1> No se han registrado campos FV</h1>
</div>
    <div  *ngFor="let fvField of fvFields" fxLayout="row" fxLayoutAlign="left center">
      <h5>{{fvField.nombre}}</h5>
      <span class="spacer"></span>

      <button (click)="goToFvFieldConfiguration(fvField.id)"fxFlexAlign="end" mat-icon-button> <mat-icon>settings</mat-icon></button>
      <button  *ngIf="allow_add_and_delete"  (click)="deleleteFvField(fvField.id)" fxFlexAlign="end" mat-icon-button> <mat-icon>delete</mat-icon></button>
      
    </div>
  </div>

  <button *ngIf="allow_add_and_delete" (click)="addDefaultFvField()"mat-mini-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button  mat-flat-button [routerLink]="['/fv-fields-config/combinacion-inversor']" >Circuito combinacion de inversores</button>
  </div>
  <div  fxLayout="row" fxLayoutAlign="center"> 
    <button  mat-flat-button (click)="sendData()">Realizar Cotización</button>
  </div>
  <mat-divider></mat-divider>
</div>